{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Novo Usuário{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-white">
                <h4 class="mb-0">Cadastrar Membro da Equipe</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-success">Salvar Usuário</button>
                        <a href="{% url 'lista_usuarios' %}" class="btn btn-link text-muted">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}