/* ====== BASE APP ====== */

html, body {
    height: 100%;
}

body {
    background: var(--bg-soft);
    color: #0f172a;
}

/* Shell principal */
.app-shell {
    display: flex;
    min-height: 100vh;
    background: var(--bg-soft);
}

/* Conteúdo */
.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bg-soft);
}

/* Área de páginas */
.page-container {
    padding: 3rem;
    background: var(--bg-soft);
    min-height: 100%;
}
