@import "tailwindcss";
@plugin "daisyui";

/* Avisa o Tailwind onde estão seus arquivos HTML */
@source "../../../templates/**/*.html";
@source "../../../**/templates/**/*.html";


/* Configurações de Design do MayaCorp */
@theme {
  /* Cores Pastel */
  --color-mint-green: #B2F2BB;
  --color-serene-blue: #A5D8FF;
  --color-soft-lavender: #D0BFFF;
  --color-off-white: #F8F9FA;
  
  /* Bordas Soft UI */
  --radius-xl: 24px;
  --radius-2xl: 32px;

  /* Sobrescrevendo as cores do DaisyUI para o tema mayacorp */
  --color-primary: var(--color-serene-blue);
  --color-secondary: var(--color-mint-green);
  --color-accent: var(--color-soft-lavender);
  --color-base-100: #FFFFFF;
}

/* Ajustes Globais de arredondamento */
:root {
  --rounded-box: 2rem;
  --rounded-btn: 0.8rem;
  --rounded-badge: 1rem;
}

/* Fundo do corpo da página */
body {
    @apply bg-off-white;
}